<header class="site-header">

  <div class="wrapper">
  	<div class="browser-nav">
	  	<ul>
			<li class="back"><a class="page-link" href="/mood_quixotic/"><span class="icon icon-back"></span></a></li>
			<li class="forward"><a class="page-link" href="/mood_quixotic/edis_room/"><span class="icon icon-forward"></span></a></li>
			<li class="reload"><a href="."><span class="icon icon-reload"></span</a></li>
			<li class="stop"><a href="#" onClick="window.stop()"><span class="icon icon-stopsign"></span></a></li>
			<li class="home"><a class="page-link" href="/mood_quixotic/"><span class="icon icon-home"></span></a></li>
	  	</ul>

	  	<div class="search">
	  		<input type="search"></input>
	  		<span class="icon icon-search"></span>
	  	</div>

	  	<button class="icon icon-window-close " onclick="closeIFrame()"></button>
	 </div>
	<div class="browser-tabs">
     <nav class="site-nav">


      <div class="trigger">
        <ul>
        	<li><a class="page-link" href="/mood_quixotic/">theTourist31</a> <span class="icon icon-circle-close"></span></li>
	        <li><a class="page-link" href="/mood_quixotic/edis_room/">edis_room</a> <span class="icon icon-circle-close"></span></li>
	    </ul>
        
      </div>
    </nav>
	</div>
  </div>
<script>
$(document).ready(function() {
    $("[href]").each(function() {
    if (this.href == window.location.href) {
        $(this).children(".icon").addClass("active");
        $(this).parent("li").addClass("active");
        }
    });
});
</script>
</header>
