---
layout: default
---
<article class="webcam">

<div class="sidebar">
	<div class="nav-top">
		<span class="icon icon-pan-horiz"></span>
		<span class="icon icon-screengrab"></span>
		<span class="icon icon-pan-vert"></span>
	</div>
	<div class="nav-pad">
		<span class="icon icon-up"></span>
		<span class="icon icon-right"></span>
		<span class="icon icon-down"></span>
		<span class="icon icon-left"></span>
		<span class="icon icon-reset"></span>
	</div>
	<div class="nav-bottom">
		<span class="icon icon-zoom-in"></span>
		<span class="icon icon-zoom-out"></span>
	</div>
</div>

  <div class="threejs"></div>

</article>
